html {
  padding: 0px;
}
/*
body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  border: none;
  padding: 0px;
  max-width: max-content;
  max-height: max-content;
}
*/
.frame {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000e6;
}